# sudo cp airguitar.service /etc/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl enable airguitar
# sudo systemctl start airguitar

[Unit]
Description=airguitar

[Service]
WorkingDirectory=/home/pi/airguitar
ExecStart=/home/pi/airguitar/venv/bin/python /home/pi/airguitar/riff.py

[Install]
WantedBy=multi-user.target
